html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  background-color: #b9c4df;
}

.wrapper {
  background-color: #b9c4df;
  height: 100vh;
}

/* NAVBAR SECTION*/

.navbar-section {
  background-color: #2c5781;
}

.navbar-mobile {
  display: none;
}

.logo img {
  max-height: 2.8rem;
}

.dropdown-content {
  display: none;
}

.navbar-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
  height: 6rem;
}

.navbar-desktop a {
  text-decoration: none;
  color: white;
}

.navbar-items {
  padding-right: 2rem;
  padding-left: 0.4rem;
}

.navbar-items:hover {
  text-decoration: underline;
}

.navbar-items-container {
  margin-right: 8rem;
}

/* HERO SECTION */
.hero-section {
  background-color: #4a6677;
  width: 100%;
  margin: auto;
}

.hero {
  background-image: url("/images/piha.png");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .heading {
  font-size: 5.4rem;
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: rgba(9, 9, 9, 0.74);
}

.hero .user {
  margin-block-start: 4rem;
  padding: 1rem;

  background-color: rgba(9, 9, 9, 0.74);
  font-size: 3.2rem;
  color: white;
}

/* TOP-CONTAINER */

.top-container {
  width: 80%;
  margin: auto;
  margin-block-start: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messages-section {
  height: 200px;
  width: 300px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.messages-section:hover {
  box-shadow: 5px 5px 15px rgb(37, 37, 37);
}

.messages {
  margin-block-start: 1.7rem;
}

.messages-section #envelope-icon {
  position: absolute;
  font-size: 7.4rem;
  top: 6rem;
  right: 11.1rem;
  color: #3434db;
}

.messages-section h1 {
  font-size: 2.4rem;
  text-align: center;
}

.lower-div {
  position: absolute;
  bottom: 2.9rem;
  left: 7.4rem;
  font-size: 1.4rem;
}

.lower-div span span {
  color: #060af7;
}

/* .open-message-preview {
  position: absolute;
  bottom: -2.2rem;
  right: 13rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  margin-block-start: 0.3rem;
} */

.open-message-preview i {
  color: #db1010;
  font-size: 2.6rem;
}

.new-messages-alert {
  position: absolute;
  font-size: 1.6rem;
  top: 0;
  right: 2rem;
}

.service-request-section {
  width: 299px;
  height: 200px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.service-request-section:hover {
  box-shadow: 5px 5px 15px rgb(53, 52, 52);
}
.service-request {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.service-request span span {
  color: orange;
}

#wrench {
  position: absolute;
  font-size: 7.4rem;
  top: 6rem;
  right: 11.1rem;
  color: orange;
}

.service-request-section h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-block-start: 1.4rem;
}

.service-request .lower-div {
  position: absolute;
  bottom: 2.9rem;
  left: 7.4rem;
  font-size: 1.4rem;
}

.temperature-section {
  width: 299px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.temperature-section:hover {
  box-shadow: 5px 5px 15px rgb(53, 52, 52);
}

.temperature-section figure {
  width: 9.8rem;
  height: 11rem;
  position: absolute;
  top: 5rem;
  left: 14rem;
}

.temperature-section figure img {
  width: 100%;
  height: 100%;
}

.temperature-section h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-block-start: 1.4rem;
}

.announcement-grid {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  width: 90%;
  margin: auto;
  height: auto;
  margin-block-start: 3rem;
  margin-block-end: 2rem;
  position: relative;
  column-gap: 1.1rem;
}

.temperature-section .degree {
  position: absolute;
  font-size: 4.2rem;
  top: 8.6rem;
  left: 5.2rem;
}

.temperature-section > p:nth-child(2) {
  font-size: 1.5rem;
  position: absolute;
  top: 5rem;
  z-index: 1;
  left: 7rem;
}

.temperature-section > p:nth-child(5) {
  font-size: 1.9rem;
  position: absolute;
  bottom: 2.3rem;
  left: 11.8rem;
}

.temperature-section:hover {
  box-shadow: 5px 5px 15px rgb(53, 52, 52);
}
/* CALENDAR SECTION */
.calendar-section {
  width: 320px;
}

.calendar {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
}

.calendar h1 {
  font-size: 2.4rem;
  text-align: start;
}

.calendar .month {
  display: flex;
  padding: 1rem;
}

.month div {
  flex: 1 1 100%;
}

.month .container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
}

#year {
  margin-inline-start: 1rem;
}

.month .container2 {
  display: flex;
  align-items: center;
  justify-content: end;
}

#chevron-left,
#chevron-right {
  font-size: 1.4rem;
  padding-block: 1.2rem;
  padding-inline: 1.4rem;
  margin-inline-start: 1rem;
  border-radius: 0.5rem;
  color: black;
}

#calendar-icon {
  font-size: 3rem;
  padding-inline-end: 1rem;
  color: #2c5781;
}

.calendar h2 {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
}

.calendar .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-block-start: 1.8rem;
  font-size: 1.4rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 37px;
  margin-block-start: 1rem;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.calendar .previous-day {
  background-color: white;
  border: none;
  opacity: 0.2;
}

.calendar .next-day {
  background-color: white;
  border: none;
  opacity: 0.2;
}

.calendar-grid div {
  background-color: #9bbef2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s linear;
  border-radius: 8px;
}

.calendar-grid div:hover {
  transform: translateY(-0.3rem);
}

.calendar-grid a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.calendar .marked {
  background-color: rgb(15, 15, 15);
  padding: 1rem;
  border-radius: 50%;
  color: white;
}

.calendar .important {
  background-color: #fb683b;
  padding: 1rem;
}

.todo-btn-div {
  margin-block-start: 1.5rem;
  display: flex;
  justify-content: center;
}

.todo-button {
  border-style: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  background-color: #161817;
  color: whitesmoke;
}

.container1 figure {
  width: 100%;
  height: 100%;
}

.container1 figure img {
  width: 100%;
  height: 100%;
}

.announcement-grid {
  /* display: grid;
  grid-template-columns: 1.9fr 1fr; */
  width: 100%;
  margin: auto;
  height: auto;
  margin-block-start: 5rem;
  margin-block-end: 6rem;
  position: relative;
  display: flex;
  /* column-gap: 1.1rem; */
}

.another-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.3rem;
  align-items: center;
}

.announcements-section {
  margin: auto;
  /* grid-column: 1 / 2;
  grid-row: 1 / -1; */
  margin-block-start: 3.6rem;
}

.announcements-section h1 {
  font-size: 3rem;
  position: absolute;
  top: -12px;
  background-color: black;
  color: white;
  padding: 1rem 0.5rem;
}

.announcement {
  display: flex;
  height: 148.8px;
  padding: 2.3rem 0.5rem;
  border-bottom: 1px solid #a6a4a4;
  gap: 2rem;
}

.read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  background-color: black;
  color: white;
}

.read-more a {
  text-decoration: none;
  color: white;
}

/* .announcement:first-child {
  padding: 0 0.5rem 2.3rem 0.5rem;
} */

.container1 {
  flex: 1 1 28%;
}

.container2 {
  flex: 1 1 50%;
  position: relative;
}

.container2 .heading {
  font-size: 1.9rem;
  margin-block-start: 0.7rem;
}

.container2 .text {
  font-size: 1.5rem;
  margin-block-start: 1.5rem;
}

.posted {
  font-size: 1.4rem;
}

.upcoming {
  width: 320px;
}

.upcoming > * {
  background-color: white;
  margin-block-end: 1rem;
}

.upcoming-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bbb6b6;
  padding-block: 0.5rem;
  border-right: 7px solid green;

  border-radius: 8px;
}

.upcoming-booking-sauna {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bbb6b6;
  padding-block: 0.5rem;
  border-right: 7px solid rgb(0, 23, 128);

  border-radius: 8px;
}

.upcoming-booking-sauna .time {
  font-size: 1.5rem;
}

.booking-month {
  font-size: 1.5rem;
  padding: 1rem 0.4rem;
  border-right: 1px solid #bbb6b6;
  text-align: center;
  width: 54px;
}

.upcoming-booking .time {
  font-size: 1.5rem;
}

.upcoming-booking .specific {
  font-size: 1.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #67e43a;
  border-radius: 8px;
  margin-inline-end: 1rem;
  width: 70px;
}

.sauna {
  font-size: 1.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #04abf9;
  border-radius: 8px;
  margin-inline-end: 1rem;
  width: 70px;
}

/* ANNOUNCEMENTS SECTION */

/* .announcements-section {
  margin-block-start: 1.5rem;
  padding-inline: 0.8rem 0.8rem;
  margin-block-end: 1.5rem;
}

.announcements {
  background-color: #fff0f5;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  box-shadow: 5px 5px 10px gray;
}

.announcements h1 {
  font-size: 2.4rem;
  margin-block-end: 1rem;
}

.announcement {
  padding: 1rem;
  margin-block-end: 1rem;
  border: 2px solid;
}

.announcement .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.announcement .posted {
  font-size: 1.2rem;
  padding-block-end: 0.5rem;
  order: 1;
}
.announcement .heading {
  font-size: 1.8rem;
  padding-block-end: 0.5rem;
}

.announcement .text p {
  font-size: 1.4rem;
} */

/* footer */

.footer-distributed {
  background: #2c5781;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  padding: 30px 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}

.footer-distributed h3 span {
  color: rgb(230, 228, 237);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: rgb(240, 244, 244);
  font-size: 14px;
  font-weight: larger;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #151b1f;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(240, 244, 244);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: rgb(240, 244, 244);
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #0884d2;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/*Responsive*/

@media (max-width: 780px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

span img {
  width: 150px;
}

/* Media queries */

@media only screen and (min-width: 300px) {
  .container-mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .calendar-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;
    margin-block-start: 4rem;
    position: relative;
  }

  .calendar-section {
    flex: 1 1 100%;
  }

  .calendar-mobile h1 {
    flex: 1 1 100%;
    font-size: 3rem;
    margin-left: -0.4rem;
    margin-bottom: 1.3rem;
    background: #0b0e62e5;
    padding: 1rem 1.2rem;
    color: white;
  }

  .calendar-grid {
    grid-auto-rows: 30px;
  }

  .upcoming {
    flex: 1 1 62%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 334px;
    padding-right: 0.7rem;
    margin-block-start: 2rem;
  }

  .announcement-grid {
    width: 80%;
  }
}

@media only screen and (min-width: 425px) {
  .calendar-mobile {
    width: 86%;
  }
}

@media only screen and (min-width: 568px) {
  .calendar-mobile {
    width: 69%;
  }
}

@media only screen and (min-width: 764px) {
  .announcement-grid {
  }
}

@media only screen and (min-width: 810px) {
  .calendar-mobile {
    width: 63.9%;
  }
}

@media only screen and (min-width: 809px) {
  .calendar-section {
    flex: 1 1 41%;
  }

  .container-mobile {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .calendar-mobile {
    width: 96%;
  }

  .upcoming {
    margin-block-start: 0;
    margin-inline-start: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .calendar-section {
    flex: 1 1 41%;
  }

  .container-mobile {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .calendar-mobile {
    width: 96%;
  }

  .upcoming {
    margin-block-start: 0;
    margin-inline-start: 1rem;
  }
}

/* Mobile */
@media only screen and (max-width: 934px) {
  .top-container {
    justify-content: space-around;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 1222px) {
  .top-container {
    width: 96%;
  }
}

@media only screen and (min-width: 1550px) {
  .top-container {
    width: 66%;
  }

  .announcement-grid {
    width: 66%;
  }
}

@media only screen and (max-width: 760px) {
  .hero .heading {
    font-size: 4.2rem;
  }

  .hero .user {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 1155px) {
  .top-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1011px) {
  .announcement-grid {
    flex-direction: column;
    margin-block-start: 4rem;
    width: 96%;
  }
  .another-grid {
    display: none;
  }

  .another-grid .upcoming {
    height: 500px;
  }
  .announcements-section {
    order: 1;
  }

  .announcements-section h1 {
    top: -8px;
    background-color: black;
    padding: 1rem 0.5rem;
    color: white;
  }

  .calendar-section {
    width: 325px;
  }
}

@media only screen and (min-width: 1010px) {
  .calendar-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact-grid {
    display: block;
    height: 100vh;
  }
  .map-box {
    height: 50%;
    margin-top: -2rem;
  }

  .contact-info {
    padding-top: 2rem;
    margin-right: 3rem;
    align-items: center;
  }

  /* NAVBAR SECTION*/

  .hidden-div {
    color: transparent;
    width: 4rem;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-button {
    background-color: whitesmoke;
    border: none;
    min-height: 100%;
    min-width: 4rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .dropdown-content {
    z-index: 1;
    position: absolute;
    top: 7rem;
    right: 1.5rem;
    width: 95%;
    display: none;
    background-color: #2c5781;
    border-radius: 8px;
  }

  .dropdown-content a {
    padding: 20px 16px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: solid 1px;
    transition: background 0.1s ease-in;
  }

  .dropdown-content a:last-of-type {
    border-bottom: none;
  }

  .dropdown-items:hover {
    background: rgb(226, 223, 223);
    color: black;
  }

  .dropdown-button:hover {
    border: 1px solid black;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .map-box {
    height: 95%;
  }

  .contact-info {
    margin-top: 4rem;
  }

  /* NAVBAR SECTION*/

  .hidden-div {
    color: transparent;
    width: 4rem;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
    background-color: #2c5781;
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Style the button */
  .dropdown-button {
    background-color: whitesmoke;
    border: none;
    min-height: 100%;
    min-width: 4rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    z-index: 1;
    position: absolute;
    top: 7rem;
    right: 1.5rem;
    width: 35%;
    display: none;
    background-color: #2c5781;
    border-radius: 8px;
  }

  /* Style the dropdown links */
  .dropdown-content a {
    padding: 20px 16px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: solid 1px;
    transition: background 0.1s ease-in;
  }

  .dropdown-content a:last-of-type {
    border-bottom: none;
  }

  .dropdown-items:hover {
    background: rgb(226, 223, 223);
    color: black;
  }

  .dropdown-button:hover {
    border: 1px solid black;
  }
}
